@charset "UTF-8";

html, body {margin: 0; padding: 0;}

#banner {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('sources/background.jpg');
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}

img {
    position: absolute;
    max-width: 100%;
    opacity: 0;
}

#central_circle {
    width: 30px;
    height: 30px;
    transform: translate(135px, 100px);
    margin:auto;
    opacity: 0;
}

#points_background {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

#black {
    top: 65px;
    left: -200px;
}

#friday {
    top: 117px;
    right: -200px;
}

#black, #friday {
    opacity: 0;
    width: 200px;
}

#caixa {
    width: 120px;
    left: 85px;
    bottom: -40px;

}